<%- include('../partials/header') %>

<section class="dashboard">
<%- include('../partials/admin-nav') %>

<div class="container">
    <h1 class="title"><%=title%></h1>

    <div class="container-inner">
        <div class="line">
            <div class="short">
                <div class="central">
                    <h3>Unique Visits</h3>
                    <h3><%=uniqueVisitors%></h3>
                </div>
                <div class="central">
                    <h3>Visits</h3>
                    <h3><%=visitors%></h3>
                </div>
            </div>
            <div class="wide"></div>
        </div>
        <div class="line">
            <div class="wide"></div>
            <div class="short"></div>
        </div>
        <div class="line">
            <div class="short"></div>
            <div class="short"></div>
            <div class="short"></div>
        </div>

        <%- include('../partials/footer') %>

    </div>

</div>

</section>