<%- include('../partials/header') %>

<section class="internal">
<%- include('../partials/admin-nav') %>

<div class="container">
    <h1 class="title"><%=title%></h1>
    
    <div class="container-inner">

        <div class="settings-container">

            <a id="socials-tab" class="top-tab <%= title === 'Socials' ? "active" : "" %>">
                Socials
            </a>
            <a id="profile-tab" class="top-tab <%= title === 'Profile' ? "active" : "" %>">
                Profile
            </a>

        </div>

        <div id="settings-inner">



        </div>

        <%- include('../partials/footer') %>

    </div>

</div>

</section>