<%- include('../partials/header') %>

<section class="internal">
<%- include('../partials/admin-nav') %>

<div class="container">
    <h1 class="title"><%=title%></h1>
    
    <div class="container-inner">
        <a href="/sliders/create">
            Create new Slider
        </a>

        <div class="slider-container">

            <% if (sliders.length > 0 ) { %>
                <% sliders.forEach(slider => {%>
                    <div class="page-length">
                        <a href="/sliders/edit/<%=slider.id%>">
                            <h3><%=slider.title%></h3>
                        </a>
                        <div class="right-side">
                            <form class="dropzone" action="/sliders/delete/<%=slider.id%>" method="POST" >
                                <button type="submit">
                                    <img src="/images/icons/icons8-trash-64.png">
                                </button>
                            </form>
                        </div>
                    </div>

                <% }) %>
            <% } else { %>

                <div class="gif" style="width:100%;height:0;padding-bottom:97%;position:relative;">
                    <h3 class="danger-empty">Such emptyness...</h3>
                    <iframe src="https://giphy.com/embed/j6aoUHK5YiJEc" width="100%" height="100%" style="position:absolute;margin-top:2rem;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            <% } %>
        

        <%- include('../partials/footer') %>

    </div>

</div>

</section>