<%- include('./partials/header.ejs') %>
<section class="dynamic">
    <%- include('./partials/nav.ejs') %>

    <div class="title">
        <h1 class="title-txt">Latest News</h1>
    </div>
    <div class="content">
        <% news.forEach(item => { %>
            <h3 class="news-title"><%=item.title%></h3>
            <a href="<%=item.title%>">Read more...</a>
        <% }) %>
    </div>

</section>

<%- include('./partials/footer.ejs') %>
